/* 调整段落之间的间距 */

.case p {
  margin-top: 0; /* 段前间距 */
  margin-bottom: 0.9em; /* 段后间距 */
  text-indent: 2em;
  line-height: 1.8;
}

.story p {
  margin-top: 0; /* 段前间距 */
  margin-bottom: 0.9em; /* 段后间距 */
  text-indent: 2em;
  line-height: 1.8;
}

.conversation p {
  margin-top: 0; /* 段前间距 */
  margin-bottom: 0.9em; /* 段后间距 */
  text-indent: 0em;
  line-height: 1.8;
}

.discussion p {
  margin-top: 0; /* 段前间距 */
  margin-bottom: 0.9em; /* 段后间距 */
  text-indent: 0em;
  line-height: 1.8;
}
